.heading{
    width:100% ;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($light-green,0.8),rgba($dark-green,0.8)),url('img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh  ,0 100% );
    position: relative;

    @include respond(tab-port){
        clip-path: polygon(0 0, 100% 0, 100% 90vh , 0 100%);
        height: 100vh;

    }
    &__logo-container{
        position: absolute;
        top: 3rem;
        left:3rem;
    }
    &__logo{
        height: 3.9rem;
        animation: rotate 1s ;
    }
    
    &-primary{
        color: $white;
        text-transform: uppercase;
        position: absolute;
        top: 40%;
        left: 50%;
        line-height: 1.7;
        transform: translate(-50%,-50%);
        backface-visibility: hidden;
        @include respond(tab-port){
            top: 43%;
        }
        @include respond(phone){
            top: 45%;
            line-height: 1.5;
        }


        &--main{
            display: block;
            font-weight: 400;
            font-size: 6rem;
            letter-spacing: 4rem;
            animation-name: moveInLeft;
            animation-duration: 1.1s;
            @include respond(tab-port){
                font-size: 5.6;
                letter-spacing: 2rem;
            }
            @include respond(phone){
                font-size: 5.5rem;
                letter-spacing: 1rem;
            }
            @include respond(small-phone){
                letter-spacing: 0;
            }
        }
        &--sub{
            display: block;
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: 2rem;
            animation-name: moveInRight;
            animation-duration: 1.2s;
            @include respond(tab-port){
                letter-spacing: 1.2rem;
            }
            @include respond(phone){
                letter-spacing: .7rem;
            }
            @include respond(small-phone){
                letter-spacing: .35rem;
                font-weight: 300;
            }
        }
    }
    
    
}