.btn-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    padding: 1.6rem 3.7rem;
    border: none;
    border-radius: 5rem;
    position: relative;
    transition: transform .3s,box-shadow .3s;
    cursor: pointer;

    &--white{
        background-color: $white;
        
        & a{
            color: $grey;
        }


        &::after{
            background-color: $white;
        }
    }

    &--green{
        background-image:linear-gradient( to right bottom,$light-green,$dark-green);

        & a,
        &{
        color: $white;

        }
        &::after{
            background-image:linear-gradient(to right bottom, $light-green,$dark-green) ;
        }
    }
    & a,&{
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    &--animated{
        animation: moveInBottom .7s .7s;
        animation-fill-mode:backwards;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        z-index: -1;
        transition: all .4s;
    }
    
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($black,0.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.5);
            opacity: 0;
        }
    
    }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($black,0.2);
    
    }     
}

.btn-text{
    &:link,
    &:visited{
        color: $light-green;
        text-decoration: none;
        border-bottom: 1px solid $light-green;
        padding: 12px 18px;
        transition: all .4s;
        font-size: $default-font-size;
        
    }

    &:hover{
        color: $white;
        background-image: linear-gradient(to right bottom, rgba($light-green,0.8), rgba($dark-green,.8));
        border-radius: 2px;
        box-shadow: 0 1rem 2rem rgba($black,0.2);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($black,0.2);
        transform: translateY(0px);

    }
}