.composition{
    position: relative;
    left: 0rem;

    @include respond(tab-port){
        left: -5rem;
    }
    @include respond(phone){
        left: -2rem;
    }



    &__photo{
        width:55%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($black,.3);
        outline-offset: 1.6rem; 
        transition: all .4s;
        @include respond(tab-port){
            width: 50%;
        }
        @include respond(phone){
            width: 40%;
        }
        @include respond(small-phone){
            width: 38%;
        }
        &--p1{
            top: -2rem;
            left: 0;
            @include respond(tab-port){
                top: 0;
                left: 0;                
            }
            @include respond(phone){
                top: 0;
                left: 0;                
            }
        }
        &--p2{
            right: 0;
            top: 2rem;
            @include respond(tab-port){
                top: -2rem ;
                left: 18.5rem; 
                z-index: 100;
            }
            @include respond(phone){
                top: -2rem;
                left: 16rem;                
            }
            @include respond(small-phone){
                top: -2rem;
                left: 15rem;                
            }
        }
        &--p3{
            top: 10rem;
            left: 20%;
            @include respond(tab-port){
                top: 0;
                left: 35rem ; 
            }
            @include respond(phone){
                top: 0;
                left: 32rem ; 
            }
            @include respond(small-phone){
                top: 0;
                left: 30rem ; 
            }
        }
      

        &:hover{
            outline: 1.5rem solid $medium-green;
            z-index: 200;
            transform: scale(1.05) translateY(-.6rem);
            @include respond(tab-port){
                outline: none;
            }
            
        }
       

    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}
