.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $light-green,$dark-green);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent ;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s;
    @include respond(tab-port){
        font-size: 2.6rem;
    }
    @include respond(phone){
        font-size: 2.1rem;
    }
    
    &:hover{
        transform: skewY(2deg);
        text-shadow: 9px 7px 6px rgba(0,0,0,0.1);
    }
}
.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    font-weight: 500;
    line-height: 2.4rem;

    &:not(:last-child){
        margin-bottom: 3.4rem;
    }
}
